.tag {
    list-style: none;
    padding: 8px 12px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
  }
  
  .tag.selected {
    background-color: #007bff;
    color: white;
  }
  
  .tag.filter {
    font-weight: bold;
  }
/*------------------------------- */
.filter-container {
  padding: 16px;
  background-color: #1c1c1c;
  border-radius: 8px;
  margin-bottom: 16px;
  color: #fff;
}

.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.filter-row .year-input,
.filter-row .sort-select {
  margin-right: 16px;
  flex: 1;
}

.filter-row .tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.tags-list .tag {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #ff4d4d; 
  border-radius: 4px;
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
}

.tags-list .tag.selected {
  background-color: #ff4d4d;
  color: #fff;
}

.input-icon {
  color: #ff4d4d;
}

.input-wrapper label {
  color: #ff4d4d;
}
/*----------------------------------------- */

.movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  background: #222;
  border-radius: 8px;
  overflow: hidden;
  color: #fff;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-details {
  padding: 10px;
}

.movie-details h3 {
  margin: 0 0 10px;
}

.movie-details p {
  margin: 0 0 10px;
  font-size: 14px;
}

.movie-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.genre-tag {
  background: #444;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
}

.movie-actions {
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}

.favorite {
  color: gold;
}

.watch-later {
  color: lightblue;
}
