/* inputs */
.input-wrapper {
    margin-bottom: 16px;
  }
  
  .input-wrapper label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
  }
    
  .input-container {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
  }
  
  .input-icon {
    margin-right: 8px;
  }
  
  .input-element {
    border: none;
    outline: none;
    flex: 1;
  }
  
  .input-element:focus {
    border-bottom: 2px solid red;
  }
  
  .input-element-dark {
    background-color: #333;
    color: white;
  }
  
  .input-element-dark:focus {
    border-bottom: 2px solid red;
  }
/*-------------------------------------------------------------------------------------------------*/

/* select-input */
.select-input {
  margin: 10px 0;
  position: relative;
  display: inline-block;
}

.select-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.select-input select {
  width: 150px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #c00;
  background-color: #333;
  font-size: 14px;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
}

.select-input select:focus {
  border-bottom: 2px solid #a00;
}

.select-input select::-ms-expand {
  display: none;
}

.select-input::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
  font-size: 12px;
}

  /*-------------------------------------------------------------------------------------------------*/

  /* Button */
  .button.load-more {
    background-color: #c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer;
    text-align: center; 
    display: inline-block; 
    border-radius: 4px;
}

.button.load-more:hover {
    background-color: #b30000;
}
  /*-------------------------------------------------------------------------------------------------*/

  /* search bar */
  .search-bar {
    width: 100%;
    padding: 8px 10px;
    background-color: #333;
    border: 1px solid #444;
    color: #ccc;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .search-bar::placeholder {
    color: #888;
  }
  
  .search-bar:focus {
    outline: none;
    border-color: #555;
  }